/* CSS - Header
   Autora : Larissa Alves de Souza - SP302394X */

body {
    margin: 0;
}

#header {
    width: 860px;
    font-family: 'Open Sans', sans serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 365px;
}

#brasão-CDB {
    height: 120px;
    width: 120px;
}

#header address,
#header h1 {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

#header p {
    font-size: 16px;
    font-weight: 600;
}