/* CSS - Configurações Padrões das páginas
   Autora : Larissa Alves de Souza - SP302394X */

body {
    margin: 0;
    background-color: #cbcbcb;
    font-family: 'Open Sans', sans serif;
}

main {
    width: 860px;
    margin-top: 40px;
    margin-left: 365px;
    margin-bottom: 80px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #011385;
    font-size: 22px;
}

.text {
    text-align: justify;
    margin-top: 50px;
    font-size: 20px;
}

#atention {
    text-align: center;
    width: 860px;
    height: 100%;
    background: #a8aab6;
    border-radius: 20px;
}

#atention h2 {
    color: #000;
    margin: 0;
    padding-top: 22px;
}

#atention p {
    margin: 0;
    width: 780px;
    padding: 16px 40px 22px 40px;
}

#important {
    text-align: center;
    font-weight: 600;
}

address {
    margin-top: 20px;
    margin-bottom: 0;
    font-style: normal;
}

ol {
    padding-left: 30px;
}

ol li {
    margin: 20px 0;
}