/* CSS - Configurações Padrões das páginas
   Autora : Larissa Alves de Souza - SP302394X 
   Autora: Katharine Fernandes Viana Rodrigues- SP302718X */

body {
    margin: 0;
    background-color: #cbcbcb;
    font-family: 'Open Sans', sans serif;
}

main {
    width: 860px;
    margin-top: 40px;
    margin-left: 365px;
    margin-bottom: 80px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #011385;
    font-size: 22px;
}

.text {
    text-align: justify;
    margin-top: 50px;
    font-size: 20px;
}

#atention {
    text-align: center;
    width: 860px;
    height: 100%;
    background: #a8aab6;
    border-radius: 20px;
}

#atention h2 {
    color: #000;
    margin: 0;
    padding-top: 22px;
}

#atention p {
    margin: 0;
    width: 780px;
    padding: 16px 40px 22px 40px;
}

#important {
    text-align: center;
    font-weight: 600;
}

address {
    margin-top: 20px;
    margin-bottom: 0;
    font-style: normal;
}

ol {
    padding-left: 30px;
}

ol li {
    margin: 20px 0;
    color: #000;
}

#mensagem {
    height: 235px;
}

input,
textarea,
button {
    width: 860px;
    height: 56px;
    padding-left: 10px;
    margin-top: 0.5em;
    outline: none;
    border: solid 1px #c0c0c0;
    border-radius: 15px;
    box-shadow: 1px 2px 2px #acacac;
    letter-spacing: 0.2px;
    opacity: 75%;
}

.form p,
input,
textarea {
    font-family: 'Open Sans', sans serif;
    text-align: justify;
    font-size: 20px;
}

button {
    height: 48px;
    background: #909090;
    border-radius: 29px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
}

button:hover {
    box-shadow: 1px 2px 4px #808080;
}